/* //시작 공통 속성값 */
a {
  text-decoration-line: none;
  color: #000;
}


.App {
  text-align: center;
}
/* 네비게이션 백그라운드 영역 */
.back-div{
  width: 100%;
  height: 440px;
  background-color: #2a3e49;
}
.div3-line{
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  width: 100%;
  border: 1px solid #c2c2c2;
  z-index: 99;
  position: fixed;
}
/* 네비게이션바 영역 */
.navbar {
  width: 100%;
  min-width: 1280px;
  height: 160px;
  background-color: #2a3e49;
  margin: auto;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
}
.nav-tab {
  width: 1760px;
  min-width: 1280px;
  height: 160px;
  margin: auto;
  position: relative;
}

/* // 메뉴 탭 영역 분할 */
.nav_div1 {
  display: inline-block;
  height: 40px;
  float: right;
}
.nav_div2{
  margin-bottom: 20px;
}
.nav_div2, .nav_div3 {
  float: left;
  width: 100%;
  min-width: 1280px;
  height: 50px;
}

/* // 첫번째 영역 */
.nav-tab > p:last-child{
  content: '';
  clear: both;
  display: block;
}
.nav-tab-title {
  display: inline-block;
  margin-right: 25px;
  color : #dbdbdb;
  font-size: 12px;
  padding-top: 10px;
  float: left;
}
.nav-tab-title:last-child{
  margin: 0;
}
/* // 두번째 로고 영역 - 임시로 넣었지만 이미지로 대처할것*/
.nav-logo, .nav-tab-title1{
  display: inline-block;
  letter-spacing: 1px;
  color : #fff;
}
.nav-logo {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}
.nav-logo:hover{
  color: white;
}
/* // 세번째 영역 */
.nav-tab-title1{
  margin-right: 50px;
  font-size: 15px;
  font-weight: 700;
  padding-top: 13px;
}
.nav-tab-title1:last-child{
  margin: 0;
}
.nav-tab-title1:hover{
  color: #fff;
}

/* // 네번째 영역 */
.nav_div4{
  position: absolute;
  top: 50px;
  right: 0;
}
.nav-tab-icon{
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  margin-right: 23px;
}
.nav-tab-icon:last-child{
  margin: 0;
}
.tab-icon1, .tab-icon2, .tab-icon3 {
  height: 28px;
  width: 28px;
  background-position: center;
}
.tab-icon1{
  background-image: url('./image/serch_icon.png');
}
.tab-icon2{
  background-image: url('./image/user_icon.png');
}
.tab-icon3{
  background-image: url('./image/shop_icon.png');
}



/* // 슬라이드 영역 */
.main-bg{
  background-color: rgba(141, 92, 92, 0.5);
  position: relative;
  top: 160px;
  overflow: hidden;
  width: 100%;
  min-width: 1980px;
  height: 460px;
  margin: auto;
}
.ban-container{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.slide-banner.animated{
  transition: 0.5s ease-out;
}
.slide-banner {
  float: left;
  width: 900px;
  height: 460px;
}
.slide-banner:not(:last-child){
  margin-right: 30px;
}

.slide-banner:first-child{
  background-color: aqua;
}

.ban-btn-area{
  margin: auto;
  width: 1280px;
  margin-top: 200px;
}
.ban-btn {
  width: 15px;
  height: 15px;
  border-radius: 9px;
  margin-right: 10px;
  border: none;
  background-color: #c2c2c2;
}
.ban-btn:last-child{
  margin-right: 0px;
}



/* //메인 카테고리 영역 */
.main-cate{
  margin: auto;
  width: 1280px;
  min-width: 1280px;
  position: relative;
}
.cate-teb{
  margin-top: 30px;
  display: inline-block;
  height: 230px;
}

.cate-teb-link{
  /* background-color: aqua; */
  width: 160px;
  height: 230px;
  float: left;
  border-bottom: 1px solid #e2e2e2;
}
.cate-teb-link:hover{
  border-bottom: 3px solid #2a3e49;
}
.cate-teb-link > p {
  font-size: 17px;
  font-weight: 600;
  padding-top: 15px;
}





/* //인테리어 꿀팁 영역 */
.tip-area, .event-area {
  width: 1280px;
  min-width: 1280px;
  position: relative;

}
.main-bl-title, .main-cate-title, .main-tab-title, .main-event-title{
  margin-top: 100px;
  font-size: 26px;
  font-weight: 700;
}

.sub-bl-title{
  margin: 15px 0 33px 0 ;
  font-size: 14px;
}
.main-bl-link {
  position: absolute;
  top: 60px;
  font-size: 16px;
  right: 0;
  font-weight: 600;
}
.tip-blog{
  width: 410px;
  height: 520px;
  border-radius: 30px;
  padding: 0;
  border: 1px solid #e5e5e5;
  text-align: left;
}
.blog-img{
  border-radius: 30px 30px 0 0;
}
.tip-blog:nth-child(2){
  margin: 0 25px 0 25px;
}
.blog-title, .blog-content, .blog-link{
  padding-left: 30px;
}
.blog-title {
  padding-top: 35px;
  font-size: 19px;
  font-weight: 700;
}
.blog-content, .blog-link{
  font-size: 14px;
  color: #848484;
}
.blog-link{
  color: #000;
}


/* //베스트 인기 상품 */
.tab-area{
  width: 1280px;
  min-width: 1280px;
  margin: auto;
}
.main-pro-tab{
  min-width: 1280px;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

}
.tab-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
}
#tab-link{

  padding: 6px 10px 6px 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #6d6d6d;
  font-size: 14px;
  border: none;
}
#tab-link.active{
  color: white;
  background-color: #2a3e49;
  font-weight: 600;
}


/* //탭 공통 영역 */

.tab-product{
  height: 520px;
  text-align: left;
}
.tab-img {
  border-radius: 15px;
  width: 302px;
  height: 300px;
}
.tab-title {
  margin: 20px 0 10px 0;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: #848484;

}
.tab-sale, .tab-price{
  display: inline;
  font-size: 18px;
  font-weight: 700;
}
.tab-sale {
  padding: 0 7px 0 10px;
  color: #f98200;
}
.tab-span{
  font-size: 15px;
}
.tab-icon{
  margin-top: 7px;
  display: block;
  padding-left : 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.span-icon{
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #f76b6b;
}
.tab-review-num{
  padding-left: 10px;
  display: inline;
  font-size: 14px ;
  font-weight: 700;
}
.reivew-star{
  color: #f98200;
}
.tab-review{
  display: inline;
  font-size: 14px;
  padding-left: 8px;
  color: #848484;
  font-weight: 500;
}


/* //메인페이지 배너 영역 */
.main-banner{
  margin: auto;
  margin-top: 30px;
  width: 1280px;
  height: 350px;
  background-color: #6d6d6d;
}


/* //오늘의 기획전 영역 */
.event-area{
  padding: 0;
}
.main-event-title{
  margin-bottom: 35px;
}
.main-envet-link{
  position: absolute;
  top: 30px;
  font-size: 16px;
  right: 0;
  font-weight: 600;
}
.evnet-card{
  padding: 0;
}
.event-img {
  width: 410px;
  height: 260px;
  border-radius: 10px;
}
.event-title {
  padding: 20px 0 0 10px;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
}
.event-content {
  padding: 5px 0 0 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color:#848484;
}


/* //푸터 영역 */
.footer{
  width: 100%;
  height: 300px;
  background-color:#f2f2f2;
  margin-top: 130px;
}